body {
    background-image: url("https://previews.123rf.com/images/maxkabakov/maxkabakov1602/maxkabakov160201196/52137190-digital-background-digital-paper-texture-with-row-of-black-doodle-hand-drawn-programming-icons.jpg");
    background-color: #cccccc;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-top-10 {
    margin-top: 10px;
}